h1{
    color: #0a00668c;
    font-size:25px;
    text-indent: 8%;
    margin: center;

}

body{

    font-family: Verdana;
    font-size: 14px;
    height: 1000px;
    width: 2000px
}
fieldset{

    background: linear-gradient(silver,#83aaa0);
    margin: auto;
    margin-right: 70%;
}
#totalArticulos{
  width:1px;
}
